.Index-Title {
    font-size: xx-large;
    margin-left: 15px;
}

.IndexPoster-title {
    white-space: break-spaces;
    text-align: center;
    font-size: 12px;
}

.IndexPoster-image {
    border-radius: 10px;
}

