{%extends "base.html"%} {% import 'macros.html' as macro%} {% block content %}
{% block head%} {{ super() }} {% endblock %}
<div class="content">
  <div>
    <!--Movies-->
    <section>
      <div class="column_header">
        <span class="Index-Title">Films Populaires</span>
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center">
        {{macro.displayMovieList(popularsMovies,"movie")}}
      </div>
    </section>
    <!-- Show -->
    <section>
      <div class="column_header">
        <span class="Index-Title">Serie Populaires</span>
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center">
        {{macro.displayMovieList(popularsTvs,"tv")}}
      </div>
    </section>
    <!--Trendings-->
    <<section>
      <div class="column_header">
        <span class="Index-Title">Tendances ajourd'hui</span>
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center">
        {{ macro.displayMovieList(trendings,"movie")}}
      </div>
    </section>
  </div>
</div>
{% endblock %}
