<!doctype html>{% extends 'base.html' %} {% block content %}
<div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -17px; margin-bottom: -17px;">
    <div>
        <div class="MovieDetails-header">
            <div class="MovieDetails-backdrop" style="background-image: url(&quot;https://image.tmdb.org/t/p/w500/{{movies.backdrop_path}}&quot;);">
                <div class="MovieDetails-backdropOverlay"></div>
            </div>
            <div class="MovieDetails-headerContent">
                <img class="MovieDetails-poster" src="https://image.tmdb.org/t/p/w500/{{movies.images.posters[0].file_path}}">
                <div class="MovieDetails-info">
                    <div class="MovieDetails-titleRow">
                        <div class="MovieDetails-titleContainer">
                            <div class="MovieDetails-title">
                                <div class="ui-marquee undefined" style="overflow: hidden;">
                                    <span title="{{movies.original_title}}" style="position: relative; right: 0px; white-space: nowrap;">{{movies.title}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MovieDetails-details">
                        <div>
                            <span class="MovieDetails-certification">{{movies.certification}}</span>
                            <span class="MovieDetails-year">
                                <span>{{movies.release_date}}</span>
                            </span>
                            <span class="MovieDetails-runtime">{{movies.runtime}} min</span>
                            <span class="MovieDetails-rating">
                                <i class="fas fa-heart HeartRating-heart Icon-default" style="font-size: 20px;"></i>
                                <span>{{movies.vote_average}}%</span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="MovieDetails-detailsInfoLabel InfoLabel-label InfoLabel-large">
                            <div class="InfoLabel-title">Studio</div>
                            <div>
                                <span class="MovieDetails-studio">{{movies.production_companies[0].name}}</span>
                    </div>
                    </span>
                </div>
                <div class="MovieDetails-overview">
                    <div style="overflow: hidden;"><span>{{movies.overview}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}