<div
    class="searchbar fixed left-0 right-0 top-0 z-10 flex flex-shrink-0 bg-opacity-80 transition duration-300 bg-transparent lg:left-64">
    <button class="px-4 text-white opacity-70 transition duration-300 focus:outline-none lg:hidden"
        aria-label="Open sidebar" data-testid="sidebar-toggle"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7"></path>
        </svg></button>
    <div class="flex flex-1 items-center justify-between pr-4 md:pr-4 md:pl-4"><button
            class="mr-2 text-white opacity-70 pwa-only transition duration-300 hover:text-white focus:text-white focus:outline-none"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                class="w-7">
                <path fill-rule="evenodd"
                    d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                    clip-rule="evenodd"></path>
            </svg></button>
        <div class="flex flex-1">
            <div class="flex w-full"><label for="search_field" class="sr-only">Search</label>
                <div class="relative flex w-full items-center text-white focus-within:text-gray-200">
                    <div class="pointer-events-none absolute inset-y-0 left-4 flex items-center"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true" class="h-5 w-5">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg></div><input id="search_field"
                        class="block w-full rounded-full border border-gray-600 bg-gray-900 bg-opacity-80 py-2 pl-10 text-white placeholder-gray-300 hover:border-gray-500 focus:border-gray-500 focus:bg-opacity-100 focus:placeholder-gray-400 focus:outline-none focus:ring-0 sm:text-base"
                        placeholder="Rechercher des films et des séries" type="search" autocomplete="off" value="">
                </div>
            </div>
        </div>
        <div class="flex items-center">
            <div class="relative ml-3" data-headlessui-state="">
                <div><button
                        class="flex max-w-xs items-center rounded-full text-sm ring-1 ring-gray-700 hover:ring-gray-500 focus:outline-none focus:ring-gray-500"
                        data-testid="user-menu" id="headlessui-menu-button-:R1t936:" type="button" aria-haspopup="true"
                        aria-expanded="false" data-headlessui-state=""><img
                            class="h-8 w-8 rounded-full object-cover sm:h-10 sm:w-10" src="/os_logo_square.png"
                            alt=""></button></div>
            </div>
        </div>
    </div>
</div>