{%extends "base.html"%} {% block content %}
<div class="content">
  <!-- Poster background -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 posterPath">
      <img
        src="https://image.tmdb.org/t/p/w500{{tv.poster_path}}"
        alt="{{tv.name}}"
        class="img-responsive"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 movie-details">
      <div class="thumbnail" style="border: none">
        <h1>{{ tv.name }}</h1>
        <p class="overview">{{ tv.overview }}</p>
        <p class="ratings">
          <b> {{ tv.vote_average*10 | round(0) | int }}%</b> -
          <i>{{tv.vote_count}} votes </i>
        </p>
      </div>
    </div>
  </div>
</div>
{%endblock%}
